<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comment</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Your Name</ion-label>
      <ion-input formControlName="author" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Your Rating</ion-label>
      <ion-range formControlName="rating" min=1 max=5 step=1 pin=true snaps=true>
        <ion-icon range-left small name="sad"></ion-icon>
        <ion-icon range-right name="happy"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label floating>Your Comment</ion-label>
      <ion-textarea formControlName="comment" rows=12></ion-textarea>
    </ion-item>
    <button ion-button type="submit" [disabled]="commentForm.invalid">SUBMIT</button>
  </form>
</ion-content>
